<header class="app-header">
  <div class="header-content">
    <div class="header-left">
      <div class="logo" (click)="navigateTo('\'')">
        <img src="https://www.mcdonalds.com/content/dam/sites/usa/nfl/icons/arches-logo_108x108.jpg" alt="OnlineFood" class="logo-img">
        <h1>OnlineFood</h1>
      </div>
    </div>
    <div class="header-right">
      <app-color-picker></app-color-picker>
      <app-theme-toggle></app-theme-toggle>
      <div class="header-cart" (click)="navigateTo('\cart')">
        <span class="material-icons">shopping_cart</span>
        <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
      </div>
    </div>
  </div>
</header>




<router-outlet></router-outlet>



<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>About Us</h3>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">News & Press</a></li>
        <li><a href="#">Franchising</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Delivery</a></li>
        <li><a href="#">Mobile Order & Pay</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Family Fun</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h3>Connect With Us</h3>
      <div class="social-links">
        <a href="#" class="social-icon">
          <span class="material-icons">facebook</span>
        </a>
        <a href="#" class="social-icon">
          <span class="material-icons">twitter</span>
        </a>
        <a href="#" class="social-icon">
          <span class="material-icons">instagram</span>
        </a>
        <a href="#" class="social-icon">
          <span class="material-icons">youtube_activity</span>
        </a>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2025 runalb.com. All Rights Reserved.</p>
    <div class="footer-links">
      <a href="#">Terms & Conditions</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Cookie Policy</a>
    </div>
  </div>
</footer>
