<app-banner></app-banner>


<div class="app-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="menu-category" 
           *ngFor="let category of categories"
           [class.active]="selectedCategory === category.name" 
           (click)="selectCategory(category.name)">
        <div class="category-icon">{{category.icon}}</div>
        <div class="category-info">
          <span class="category-name">{{category.name || 'All Items'}}</span>
          <span class="category-count">{{category.count}} items</span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="category-tabs">
    </div>

    <app-item [items]="filteredItems"></app-item>

  </div>
</div>